body {
	background-image:url(../images/numan.png);
}

#mainbox {
	background-color: turquoise;
	display: inline-block;
	width: 75%;
	margin: auto;
	text-align: center;
	height: 600px;
	position: absolute;
	right: 160px;
}

#headliner {
	font-family: 'Lora', serif;
}

#timer {
	display: inline-block;
	text-align: center;
	height: 30px;
	width: 200px;
}

#startButton {
	height: 75px;
	width: 150px;
	font-size: large;
}

#questionBox {
	display: inline-block;
	height: 375px;
	width: 575px;
	background-image: url(../images/NewOrderPCL.jpg);
}
